<h1>Cheerups#index</h1>
<p>Find me in app/views/cheerups/index.html.erb</p>
<ul>
 <% @cheerups.each do |cheerup| %>
  <li>
    <!-- <%= link_to cheerup.user_id, cheerup_path(cheerup) %> -->
    <%= cheerup.title %>
    <%= link_to cheerup.content, cheerup_path(cheerup) %>
  <li>
 <% end %>
</ul>
