<h2><a href="/cheerup/new"> (New Cheerup)</a></h2>
<h2>Cheerups List</h2>
<ul>
 <% @cheerups.each do |cheerup| %>
  <li>
    <!-- <%= link_to cheerup.user_id, cheerup_path(cheerup) %> -->
    <!-- <%= cheerup.title %> -->
    <%= link_to cheerup.title, cheerup_path(cheerup) %>
  <li>
 <% end %>
</ul>
